@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h2 class="display-6">Добро пожаловать</h2>
    <div class="row justify-content-center mt-5">
        <div class="card col-md-4 col-sm-4 col-12 shadow" style="width: 18rem;">
            <div class="card-body rounded-3">
                <h5 class="card-title text-start">Литературные ссылки</h5>
                <hr/>
                <p class="card-text text-muted text-start">Здесь Вы можете посмотреть список существующих литературных ссылок.</p>
                <a asp-area="" asp-controller="LitReference" asp-action="Index" class="btn btn-outline-primary col-12">Перейти</a>
            </div>
        </div>
        <div class="card col-md-4 col-sm-4 col-12 offset-1 shadow" style="width: 18rem;">
            <div class="card-body rounded-3">
                <h5 class="card-title text-start">Статьи</h5>
                <hr/>
                <p class="card-text text-muted text-start">Здесь Вы можете посмотреть список существующих статей.</p>
                <a asp-area="" asp-controller="RubricsInfo" asp-action="Index" class="btn btn-outline-primary col-12">Перейти</a>
            </div>
        </div>
        <div class="card col-md-4 col-sm-4 col-12 offset-1 shadow" style="width: 18rem;">
            <div class="card-body rounded-3">
                <h5 class="card-title text-start">Таблицы</h5>
                <hr/>
                <p class="card-text text-muted text-start">Здесь Вы можете просмотреть существующие таблицы.</p>
                <a asp-area="" asp-controller="Table" asp-action="Index" class="btn btn-outline-primary col-12">Перейти</a>
            </div>
        </div>
    </div>
</div>