@model ChemicalPropertiesApp.ViewModels.RegisterModel

<style>
    .field-validation-error { 
        color: red
    }
</style>

<section class="vh-100">
    <div class="mask d-flex mt-3 h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center mt-3 h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card shadow" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h4 class="fw-bold text-center mb-3">Регистрация</h4>
                            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <div class="form-outline mt-5 mb-4">
                                    <input type="text" placeholder="Введите эл. почту" asp-for="Email" class="form-control"/>
                                    <span class="field-validation-error" asp-validation-for="Email"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" placeholder="Введите логин" asp-for="Login" class="form-control"/>
                                    <span class="field-validation-error" asp-validation-for="Login"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" placeholder="Введите фамилию" asp-for="LastName" class="form-control"/>
                                    <span class="field-validation-error" asp-validation-for="LastName"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" placeholder="Введите имя" asp-for="FirstName" class="form-control"/>
                                    <span class="field-validation-error" asp-validation-for="FirstName"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" placeholder="Введите пароль" asp-for="Password" class="form-control"/>
                                    <span class="field-validation-error" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" placeholder="Введите подтверждение пароля" asp-for="ConfirmPassword" class="form-control"/>
                                    <span class="field-validation-error" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-primary btn-block col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-12">
                                        Зарегистрироваться
                                    </button>
                                </div>
                                <p class="text-center text-muted mt-5 mb-0">
                                    Уже есть аккаунт?
                                    <a class="fw-bold text-body" asp-action="Login" asp-controller="Account">Войти</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="col-lg-6 offset-lg-3">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="justify-content-center text-center">
        <h4>Регистрация</h4>
        <div class="form-outline mb-4 pt-3">
            <input type="text" placeholder="Введите эл. почту" asp-for="Email"/>
            <span class="field-validation-error" asp-validation-for="Email"></span>
        </div>
        <div class="form-outline mb-4">
            <input type="text" placeholder="Введите логин" asp-for="Login"/>
            <span class="field-validation-error" asp-validation-for="Login"></span>
        </div>
        <div>
            <input type="text" placeholder="Введите фамилию" asp-for="LastName"/>
            <span class="field-validation-error" asp-validation-for="LastName"></span>
        </div>
        <div>
            <input type="text" placeholder="Введите имя" asp-for="FirstName"/>
            <span class="field-validation-error" asp-validation-for="FirstName"></span>
        </div>
        <div>
            <input type="password" placeholder="Введите пароль" asp-for="Password"/>
            <span class="field-validation-error" asp-validation-for="Password"></span>
        </div>
        <div>
            <input type="password" placeholder="Введите подтверждение пароля" asp-for="ConfirmPassword"/>
            <span class="field-validation-error" asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-12">Зарегистрироваться</button>
    </div>
</form>*@