@page
@model RegisterModel
@{
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-10 offset-md-1">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 pb-3 pt-1">
                <div class="form-floating">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true"/>
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 pb-3 pt-1">
                <div class="form-floating">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true"/>
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-floating pb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 pb-3">
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 pb-3">
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col text-center pb-3">
            <button id="registerSubmit" type="submit" class="w-50 btn btn-primary">Зарегистрироваться</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}